.header {
  height: 95vh;
  /* this is essentially putting two background images ontop of each other */
  background-image: linear-gradient(
    to right bottom,
    /* need to specifiy the opacity here */ rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  /* top-left, top-right, bottom-right, bottom-left */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* this means that the element will move to the left by 50% of its width and height, making it centered */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
